@import  "fonts.css";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Sansita', sans-serif;
}

@-ms-viewport{
  width: device-width;
}

body{
overflow-x: hidden;
  width: 100%;
  height: 100%;
}


