<div class="container">
	<div class="bl_img">
		<img src="img/cont.jpg">
	</div>
	<div class="contacts">
		<div class="text">
			<div class="title">
				<p>Контакты</p>
			</div>
			<div class="info">
				<p>На этой странице вы найдете самую последнюю иформацию о нас.
				<br>	<br>+375(25)944-11-72 <br>
					igor@gmail.com
					<br> Улица Октябрьская 10/2 
					<br> Минск <br>
					65465 <br>
					Беларусь</p>
				</div>
			</div>

			<div class="map">
				<iframe src="https://api-maps.yandex.ua/frame/v1/-/C6qGuR8w" width="560" height="400" frameborder="0"></iframe>
			</div>
		</div>	
	</div>


	<footer>
		<div class="bottom_line_fot">
			<div class="container">
				<p>Все права защищены <br> © 2017</p>
			</div>
		</div>
	</footer>