<div class="cotegory">
	<div class="container">
		<div class="cot_block one">
			<img src="img/1.jpg">
			<a href="/all_music">Слушать музыку</a>
		</div>
		<div class="cot_block two">
			<img src="img/2.jpg">
			<a href="">Топ песен</a>
		</div>
		<div class="cot_block three">
			<img src="img/3.jpg">
			<a href="">Соревнования</a>
		</div>
		<div class="cot_block four">
			<img src="img/4.jpg">
			<a href="">Видеоклипы</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="present">
		<div class="text">
			<div class="title">
				<p>Веяние новой <br> музыки</p>
			</div>
			<div class="string">
				<p >Здесь Вы найдете самые <br> свежие хиты!</p>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="top_line_fot">
			<div class="left_block">
				<div class="title_fot">
					<p>Новости</p>
				</div>
				<div class="date">
					<p>06.09.2017</p>
				</div>
				<div class="strin">
					<a href="/news/1">Певец Бла Блан выпустил новый альбом..</a>
				</div>
				<div class="date">
					<p>06.09.2017</p>
				</div>
				<div class="strin">
					<a>Певец Бла Блан выпустил новый альбом..</a>
				</div>
				<div class="date">
					<p>06.09.2017</p>
				</div>
				<div class="strin">
					<a >Певец Бла Блан выпустил новый альбом..</a>
				</div>
			</div>
			<div class="center_block">
				<div class="title_fot">
					<p>А Вы знали, что..</p>
				</div>
				<div class="strin">
					<p>Музыка обладает живительной силой. Если вы видите увядающее растение, поставьте рядом колонки и включите спокойную ненавязчивую музыку. Цветок оживет на глазах.
					</p>
				</div>

			</div>
			<div class="right_block">
				<img src="img/not.jpg">
			</div>
		</div>
	</div>

	<div class="bottom_line_fot">
		<div class="container">
			<p>Все права защищены <br> © 2017</p>
		</div>
	</div>
</footer>